.Dropdown {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    overflow: overlay;
    font-size: 2rem;
    border: 1px solid #DFE1E5;
    border-top-width: 0;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
