.WeekDayButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.WeekDayButton_icon {
    width:  6rem;
    height: 6rem;
}

.WeekDayButton_day {
    margin-bottom: 1rem;
}

.WeekDayButton_temperature {
    margin-top: 1rem;
}

.WeekDayButton__selected {
    background-color: lightblue;
}
