.WeekDayButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    cursor: pointer;
}

.WeekDayButton_icon {
    width:  6rem;
    height: 6rem;
}

.WeekDayButton_day {
    margin-bottom: 1rem;
}

.WeekDayButton_temperature {
    margin-top: 1rem;
    font-size: 1.4rem;
}

.WeekDayButton_max {
    padding-right: 1rem;
}

.WeekDayButton_min {
    color: #878787;
}

