@import "$assets/css/globals";

.WeatherInfo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35rem;
    margin-top: 2rem;
}

.WeatherInfo {
    width: 100%;
}
