@import "$assets/css/globals";

.WeatherInfo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $main-height;
}

.WeatherInfo {
    /* @Note Setting the width directly, like so:

    width: $main-width;

    caused WeatherInfo to "move" a bit when going
    from loading new data to displaying it again.
    Using flex to set the width fixed the problem.
    */
    flex: 0 0 $main-width;
}

.WeatherInfo_inner1 {
    margin: 4rem 0;
}

.WeatherInfo_inner4 {
    .Icon {
        width: 9rem;
        height: 9rem;
        margin-left: 1rem;
    }
}

.WeatherInfo_inner5 {
    margin-right: 2rem;
}

.WeatherInfo_city {
    /* @Note: We don't know why this increases the width of
    the container element when text gets broken in multiple
    lines, but it does.  */
    word-break: break-word;
    /* This seems to fix it, though. Maybe there's a way
    to circumvent this problem altogether? */
    max-width: 100%;

    margin-bottom: 2rem;
    font-size: 3rem;
    color: black;
}

.WeatherInfo_temperature {
    display: inline-block;
    margin-right: 2rem;
    font-size: 9rem;
}

.WeatherInfo_description {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.WeatherInfo_details {
    font-size: 1.4rem;
    color: #70757A;

    div:not(:last-child) {
        margin-bottom: 0.8rem;
    }
}
