.DailyForecastButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.DailyForecastButton_icon {
    width:  6rem;
    height: 6rem;
}

.DailyForecastButton_day {
    margin-bottom: 1rem;
}

.DailyForecastButton_temperature {
    margin-top: 1rem;
}

.DailyForecastButton__selected {
    background-color: lightblue;
}
