.HourlyForecastItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.HourlyForecastItem_icon {
    width:  6rem;
    height: 6rem;
}

.HourlyForecastItem_day {
    margin-bottom: 1rem;
}

.HourlyForecastItem_temperature {
    margin-top: 1rem;
}

.HourlyForecastItem__selected {
    background-color: lightblue;
}
