.DropdownSearch {
    position: relative;
    width: 69rem;
}

// @Todo: Apply this style only when input is active.
.DropdownSearch:hover {
    // box-shadow: 0 1px 6px RGB(32 33 36 / 28%);
    // border-color: rgba(223, 225, 229, 0);
}

.DropdownSearch_textInputContainer {
    padding: 1rem 2rem;
    border: 1px solid #DFE1E5;
    border-radius: 24px;
}

.DropdownSearch_textInputContainer__noRoundBottomCorners {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
