.ImperialSystemToggle_container {
    display: flex;
    align-items: center;
}

.ImperialSystemToggle_text {
    font-size: 2.4rem;
    margin-right: 1rem;
}

.ImperialSystemToggle {
    position: relative;
    display: inline-block;
    width: 5.2rem;
    height: 3rem;
}

.ImperialSystemToggle_checkbox {
    width: 0;
    height: 0;
    opacity: 0;
}

.ImperialSystemToggle_checkbox:checked {
    background-color: #2196F3;
}

.ImperialSystemToggle_slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    border-radius: 3rem;
    background-color: #CCC;
    transition-property: background-color;
    transition-duration: .4s;
}

.ImperialSystemToggle_slider:before {
    position: absolute;
    left: 0.346rem;
    bottom: 0.346rem;
    content: "";
    width: 2.253rem;
    height: 2.253rem;
    border-radius: 50%;
    background-color: white;
    transition-property: transform;
    transition-duration: .4s;
}

.ImperialSystemToggle_checkbox:checked + .ImperialSystemToggle_slider {
    background-color: #2196F3;
}

.ImperialSystemToggle_checkbox:checked + .ImperialSystemToggle_slider:before {
    transform: translateX(2.253rem);
}

.ImperialSystemToggle_checkbox:focus + .ImperialSystemToggle_slider {
    box-shadow: 0 0 1px #2196F3;
}
