@import "$assets/css/globals";

.App_container {
    height: 100%;
    margin-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.App {

    @media screen and (max-width: $main-width) {
        width: 100%;
    }

    width: $main-width;
}
