@import "$assets/css/globals";

.App_container {
    height: 100%;
}

.App {
    width: $main-width;
    margin-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    box-sizing: border-box;

    @media screen and (max-width: $main-width) {
        width: 100%;
    }
}
