html, body {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: arial, sans-serif;
}

#root {
    height: 100%;
}

.App_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
}
