.SelectedWeatherInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
}

.SelectedWeatherInfo_city {
    /* @Note: We don't know why this increases the width of
    the container element when text gets broken in multiple
    lines, but it does. */
    word-break: break-word;
    /* This seems to fix it, though. */
    max-width: 100%;
    /* Maybe there's a way to circumvent this problem
    altogether? */

    margin-bottom: 2rem;
    font-size: 3rem;
    color: black;
}

.SelectedWeatherInfo_temperature {
    display: inline-block;
    margin-right: 2rem;
    font-size: 8rem;
}

.SelectedWeatherInfo_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 3rem;
    font-size: 2rem;
}

.SelectedWeatherInfo_icon {
    width: 10rem;
    height: 10rem;
}

.SelectedWeatherInfo_description {
    font-size: 2rem;
    font-weight: 600;
}
