.SelectedWeatherInfo {
    padding: 4rem 0;
    border-bottom: 1px solid #ddd;
}

.SelectedWeatherInfo_icon {
    width: 9rem;
    height: 9rem;
    margin-left: 1rem;
}

.SelectedWeatherInfo_city {
    /* @Note: We don't know why this increases the width of
    the container element when text gets broken in multiple
    lines, but it does. */
    word-break: break-word;
    /* This seems to fix it, though. */
    max-width: 100%;
    /* Maybe there's a way to circumvent this problem
    altogether? */

    margin-bottom: 2rem;
    font-size: 3rem;
    color: black;
}

.SelectedWeatherInfo_temperature {
    display: inline-block;
    margin-right: 2rem;
    font-size: 9rem;
}

.SelectedWeatherInfo_description {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.SelectedWeatherInfo_details {
    font-size: 1.4rem;
    color: #70757A;

    div:not(:last-child) {
        margin-bottom: 0.8rem;
    }
}
