@import "./globals";

html {
    -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100%;
    font-size: 62.5%;

    @media screen and (max-width: $main-width) {
        font-size: 40%;
    }
}

svg {
    width:  100%;
    height: 100%;
}

body {
    font-family: "Inter";
}

#root {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.Icon {
    display: inline-block;
}
