.WeatherDetails {
    margin: 4rem 0;
}

.WeatherDetails_city {
    word-break: break-word;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: black;
}

.WeatherDetails_inner {
    display: flex;
    justify-content: space-between;
}

.WeatherDetails_temperature {
    display: inline-block;
    margin-right: 2rem;
    font-size: 9rem;
}

.WeatherDetails_right {
    display: flex;

    .Icon {
        width: 9rem;
        height: 9rem;
        margin-left: 1rem;
    }
}

.WeatherDetails_extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 2rem;
}

.WeatherDetails_description {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.WeatherDetails_rest {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.4rem;

    div:not(:last-child) {
        margin-bottom: 0.8rem;
    }
}
