.SelectedCoordinates {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    vertical-align: bottom;
}

.SelectedCoordinates_city {
    display: inline-block;
    text-overflow: ellipsis;
    font-size: 3rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
}
