.TextInputContainer {
    padding: 1rem 2rem;
    border: 1px solid #DFE1E5;
    border-radius: 24px;
}

.TextInputContainer__noRoundBottomCorners {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
