.DailyForecast {
    border-top: 1px solid #ddd;
    padding: 1rem 0;
    font-size: 2rem;

    .WeatherIcon {
        width: 4.5rem;
        height: 4.5rem;
    }
}

.DailyForecast_row {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    * {
        display: inline-block;
        vertical-align: middle;
    }
}

.DailyForecast_weekday {
    text-align: left;
}

.DailyForecast_icon {
    text-align: center;
}

.DailyForecast_weekday,
.DailyForecast_icon {
    width: 35%;
}

.DailyForecast_maxTemp,
.DailyForecast_minTemp {
    width: 15%;
    text-align: right;
}
